* {
  box-sizing: border-box;
}

.wrapper-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Georgia;
  font-size: 2.5vh;
  line-height: 1.5;
  background-color: rgba(120,120,120, 1.0);
  color: rgba(20,20,20, 1.0);
}

.name  p{
  display: block;
}

.picture_and_text {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

img {
    border-radius: 50%;
}

.text_area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text_area p {
  margin: 2vw;
  width: 50vw;
}
