* {
  box-sizing: border-box;
}
/* =================================  DESIGN FEAT: */
/* colors:


typeface stack:
 */

/* ================================= LAYOUT & DESIGN*/
a:link {
    text-decoration: none;
}

a:visited {
  color: #555;
  text-decoration: none;
}


/*---------------------------------- NAV*/
.navig {
 width: 1504px;
 text-transform: uppercase;
}

.navig-links {
  display: block;
  float: right;             /*i want it collapsed. do not fix*/
}
.navig-links li {
  float: left;
  margin-top: 1em;
  margin-right: 1em;
}



/*---------------------------------- MAIN BODY*/
.main {
    width: 1505px;
    height: 741px;
    background-image: url("img/brand-Edit.jpg") ;
}

.main img {
  margin-top: calc(202px);
  margin-left: calc(456px);
}
.main img {
  background-image: url("img/main-businessCardBCG.jpg");
}

.main a:hover {
  border: red solid 1px;
  opacity: 0.1;
  filter: alpha(opacity=10); /* For IE8 and earlier */
}


.main p {             /*down arrow*/
font-size: 1.5em;
padding: 6em;
text-align: center;
color: rgba(20,20,20, 0.5);
color: rgb
}

.portfolio {
      width: 1505px;
      height: 1000px;
      background-image: url("img/two-b-cards-edit.jpg") ;
  }
}






/* ================================= MEDIA QUERRY */
/*---------------------------------- PAD*/
@media (){

}

/*---------------------------------- DESKTOP*/
@media (){

}



/* ================================= CLEARFIX */
